.none {
    display: none !important;
}

section {
    padding: 50px;
}
section:last-child {
    padding-bottom: 200px;
}

svg {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
    border: 1px dashed #000;
}
svg:last-child {
    margin: 0;
}

.section-2 circle {
    cx: 100;
    cy: 100;
    r: 20;
    fill: red;
}







