<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>My angular app</title>

    <base href="/"/>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="src/main.css"/>

    <script src="node_modules/angular/angular.js" defer></script>
    <script src="node_modules/angular-route/angular-route.js" defer></script>
    <script src="node_modules/chance/chance.js" defer></script>
    <script src="src/main.js" defer></script>
</head>
<body>

<div class="wrapper" ng-class="{'app-loaded': true}">


    <!-- $q -->
    <div ng-controller="SomeController as someCtrl">

        User: {{ someCtrl.user.name }}

    </div>







    <!-- MODAL -->
    <!--<div ng-controller="SomeController as someCtrl">

        <form ng-submit="someCtrl.submit()">
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        ng-model="someCtrl.message"
                        placeholder="Enter some text"
                />
            </fieldset>

            <fieldset class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </fieldset>
        </form>

    </div>

    <div class="modals" ng-controller="ModalController as modalCtrl" ng-show="modalCtrl.getModal()">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="modalCtrl.closeModal()">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>{{ modalCtrl.getModal() }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="modalCtrl.closeModal()">Close</button>
                </div>
            </div>
        </div>

    </div>-->






    <!-- SAME PRODUCTS -->
    <!--<div ng-controller="SomeController as someCtrl">

        <form ng-submit="someCtrl.submit()">
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        ng-model="someCtrl.name"
                        placeholder="Enter some text"
                />
            </fieldset>

            <fieldset class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </fieldset>

            <section>
                <span class="label label-primary" ng-repeat="product in someCtrl.getProducts()">
                    {{ product }}
                </span>
            </section>
        </form>

    </div>
    <hr/>
    <div ng-controller="SomeController as someCtrl">

        <form ng-submit="someCtrl.submit()">
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        ng-model="someCtrl.name"
                        placeholder="Enter some text"
                />
            </fieldset>

            <fieldset class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </fieldset>

            <section>
                <span class="label label-primary" ng-repeat="product in someCtrl.getProducts()">
                    {{ product }}
                </span>
            </section>
        </form>

    </div>-->






    <!-- DIFFERENT PRODUCTS -->
    <!--<div ng-controller="SomeController as someCtrl">

        <form ng-submit="someCtrl.submit()">
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        ng-model="someCtrl.name"
                        placeholder="Enter some text"
                />
            </fieldset>

            <fieldset class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </fieldset>

            <section>
                <span class="label label-primary" ng-repeat="product in someCtrl.getProducts()">
                    {{ product }}
                </span>
            </section>
        </form>

    </div>
    <hr/>
    <div ng-controller="SomeController as someCtrl">

        <form ng-submit="someCtrl.submit()">
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        ng-model="someCtrl.name"
                        placeholder="Enter some text"
                />
            </fieldset>

            <fieldset class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </fieldset>

            <section>
                <span class="label label-primary" ng-repeat="product in someCtrl.getProducts()">
                    {{ product }}
                </span>
            </section>
        </form>

    </div>-->






    <!-- PAGES -->
    <!--<div ng-controller="MainController as mainCtrl">

        Choose:
        <a href="about">About</a> |
        <a href="news">News</a> |
        <a href="news/13">News title #1</a>

        <div ng-view></div>

    </div>-->

</div>

</body>
</html>