<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>My angular app</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="src/main.css"/>

    <script src="node_modules/angular/angular.js" defer></script>
    <script src="node_modules/chance/chance.js" defer></script>
    <script src="src/main.js" defer></script>
</head>
<body>

<div class="wrapper" ng-class="{'app-loaded': true}">


    <!--<div ng-controller="FormController as formCtrl">

        <form ng-submit="formCtrl.submit()">
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        ng-model="formCtrl.message"
                        placeholder="Enter some text"
                />
            </fieldset>

            <fieldset class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </fieldset>
        </form>

    </div>

    <div class="modals" ng-controller="ModalController as modalCtrl" ng-show="modalCtrl.getModal()">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="modalCtrl.closeModal()">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>{{ modalCtrl.getModal() }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="modalCtrl.closeModal()">Close</button>
                </div>
            </div>
        </div>

    </div>-->






</div>

</body>
</html>