<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>My angular app</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="src/main.css"/>

    <script src="node_modules/angular/angular.js" defer></script>
    <script src="node_modules/chance/chance.js" defer></script>
    <script src="src/main.js" defer></script>
</head>
<body>

<div class="wrapper" ng-class="{'app-loaded': true}">


    <p>Boss</p>
    <p boost>Boss</p>






    <!--<p quote="Romeo">Mine own fortune in my misery.</p>-->






    <!--<div ng-controller="FormController as formCtrl">

        <form>
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Enter some text"
                        ng-model="formCtrl.format"
                />
            </fieldset>
        </form>

        <p date="{{ formCtrl.format }}"></p>

    </div>-->


    <!--<hr/>
    <div ng-controller="FormController as formCtrl">

        <form>
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Enter some text"
                        ng-model="formCtrl.format"
                />
            </fieldset>
        </form>

        <p>Message: {{ formCtrl.getFormat() }}</p>
        <p>Message: {{ formCtrl.format }}</p>

    </div>-->











    <!--<div ng-controller="FormController as formCtrl">

        <form>
            <fieldset class="form-group">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Enter some text"
                        ng-model="formCtrl.format"
                />
            </fieldset>
        </form>

        <p>Format: {{ formCtrl.format }}</p>

    </div>-->







    <!--<div ng-controller="FormController as formCtrl">

        <p>Theme: {{ formCtrl.getTheme() }}</p>

    </div>
    <hr/>
    <div ng-controller="AnotherController as anotherCtrl">

        <p>Theme: {{ anotherCtrl.getTheme() }}</p>

    </div>-->






    <!--<div ng-controller="ParentController as parentCtrl">

        <p>Parent</p>


        <div ng-controller="ChildController as childCtrl">

            <p>Child</p>

        </div>

    </div>-->




</div>

</body>
</html>